@model WebApplicationVeiculo.Models.Veiculo

@{
    ViewData["Title"] = "Detalhamento";
}

<div>
    <h4>Detalhes do veículo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.veiculoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataAquisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataAquisicao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar à lista</a>
</div>
