@model IEnumerable<WebApplicationVeiculo.Models.Veiculo>

@{
    ViewData["Title"] = "Lista de veículos";
}

<h1>Veículos</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.veiculoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAquisicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.veiculoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataAquisicao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalhar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
